.nav {    
    background-color: black;
    border-style: groove;
    background
    text-align: center;
    word-spacing: 30px;
}

.login{
    text-align: right}

body {
    background-color: blueviolet;
    width:100vw;
    background-image:url(/image/landingps.jpg);
    text-align:center;

}
p{
    text-align: left;
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
}