div {
   flex-direction: row;
   display: flex;
   justify-content: space-around;
   background-color: rgb(95, 226, 43);
   height: 20vh;
   align-items: center;
   position: sticky;
}

.logo{
    height: 4rem;
}

@media screen (max-width: 768px) {

    div {
        background-color: yellow;
        flex-direction: coloumn;
    }
    
}